    {% extends 'base.html' %}
{%load static%}


{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<!--  Hi {{ user.username }}!-->

  <link rel="stylesheet" type='text/css' href="{% static 'css/main.css' %}"/>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="navbar">
 <button><a class="active" href="{% url 'home' %}"><i class="fa fa-fw fa-home"></i> Home</a></button>
<!--      <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>-->
      <button><a href="{% url 'AddOrg' %}"><i class="fa fa-fw fa-wrench"></i> Add Organization</a></button>
      <button><a href="{% url 'Assessment' %}"><i class="fa fa-fw fa-user"></i> Create Assesment</a></button>
      <button><a href="{% url 'MyHistory' %}"><i class="fa fa-fw fa-search"></i> My History</a></button>
      <button><a href="{% url 'ColleagueHistory' %}"><i class="fa fa-fw fa-search"></i> Colleague's history</a></button>
        <button><a href="{% url 'login' %}"><i class="fa fa-fw fa-user"></i> Logout</a></button>
      <button><a href="{% url 'Profile' %}"><i class="fa fa-fw fa-envelope"></i> Hi {{ user.username }}!</a></button>

    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div id="Content">
    <!--<table style="margin: auto; padding-top: 120px;">-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th scope="col">Select Organization</th>-->
      <!--<th scope="col"></th>-->
    <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
    <!--<tr>-->
        <!--<td>-->
            <!--<strong class="title"> Organization </strong>-->
        <!--</td>-->
        <!--<td>-->
            <!--<select name="item_id">-->
            <!--{% for entry in item %}-->
            <!--<option value="{{ entry.id }}">{{ entry.name }}</option>-->
            <!--{% endfor %}-->
            <!--</select>-->
        <!--</td>-->
    <!--</tr>-->
  <!--</tbody>-->
  <!--<tfoot>-->
    <!--<tr>-->
      <!--<td colspan="3"><button>Submit</button></td>-->
    <!--</tr>-->
  <!--</tfoot>-->
<!--</table>-->
    <div id="assess">
        {% if questions %}

<table style="margin: auto; padding-top: 100px;">
  <thead>
    <tr>
        <td>
            <strong class="title"> Organization </strong>
        </td>
        <td>
            <select name="item_id">
            {% for entry in item %}
            <option value="{{ entry.id }}">{{ entry.name }}</option>
            {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
      <th scope="col" colspan="1">Category </th>
      <th scope="col">Questions</th>
      <th scope="col">Ratings out of 3</th>
    </tr>
  </thead>
    {% for question in questions %}
  <tbody>
    <tr>
      <td>
        <strong class="title">{{question.category_name}}</strong>
      </td>
      <td class="td1css">{{question.name}}</td>
      <td class="tdcss"><select name="rating_id">
          <option value="NA">NA</option>
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select></td>

    </tr>
  </tbody>
    {% endfor %}
  <tfoot>
    <tr>
      <td colspan="3"><button>Submit Ratings</button></td>
    </tr>
  </tfoot>
</table>{% endif %}
        </div>
</div>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>


{% endif %}
{% endblock %}


